.header {
	display: inline-block; 
	flex-flow: row no-wrap; 
	height: 100px; 
	width: 100%; 
	justify-content: center;
	align-items: center; 
	/**background-color: blue; **/

}

/** Left Side of Header; Logo **/ 

.header_left {
	display: flex; 
	flex-flow: row nowrap; 
	height: inherit; 
	width: 200px; 
	justify-content: center;
	align-items: center; 
	float: left; 
	/**background-color: green; **/
}
p {
	margin: 0px 20px; 
	color: mediumaquamarine; 
	font-family: Verdana;
    font-size: 14px;
  	font-weight: bold;
}

/** Right Side of Header; Navigation **/ 

.header_right {
	height: inherit; 
	width: auto; 
	float: right; 
	display: inline-block; 
	flex-flow: row nowrap;
	justify-content: flex-end; 
	/** background-color: aquamarine; **/
}
.nav { 
	width: 300px; 
	height: inherit;
	font-weight: bold; 
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	display: flex; 
	flex-flow: row wrap-reverse;
	align-items: center; 
	justify-content: space-between;
	margin: 5px 20px; 
}
li {
	color: black; 
	font-weight: bold;
	text-decoration: underline; 
	list-style-type: none; 
	width: 50px; 
}

/**

.logo {
	background-image: url("../resources/images/img-myt-logo.jpg");
	height: 60px;
	width: 70px;
	float: left; 
	margin-right: 20px; 
} 

div {
	border: 1px solid black; 
}

**/