/** Global 
div {
	border: 1px solid black;  
} 
 **/ 

/** Header **/ 

.header {
	display: flex; 
	flex-flow: row nowrap; 
	height: 100px; 
	width: 100%; 
	align-items: center; 
	align-content: center;
	/** background-color: blue; **/
}

/** Left Side of Header; Logo **/ 

.header_left {
	display: flex; 
	flex-flow: row nowrap; 
	height:70px; 
	width: 70%; 
	justify-content: flex-start;
	align-items: center; 
	align-content: center; 
	float: left;
	padding-left: 40px;
	/** background-color: green; **/
}
.header p {
	margin: 0px 20px; 
	color: mediumaquamarine; 
	font-family: Verdana;
    font-size: 14px;
  	font-weight: bold;
}
.logo {
	background-image: url("../resources/images/img-myt-logo.jpg");
	height: 60px;
	width: 70px;
	float: left; 
	margin-right: 20px; 
} 

/** Right Side of Header; Navigation **/ 

 li {
	height: inherit;
	width: auto;
	color: black;
	font-weight: bold;
	text-decoration: underline; 
	list-style-type: none; 
	font-family: Verdana; 
	display: flex;
	align-items: center; 
	justify-content: space-between;  
	float: right;
	padding: 0px 25px; 
}

/** Main Body **/ 

.main_container {
	display: flex;
	flex-flow: row wrap; 
	width: 80%;
	justify-content: flex-start; 
	align-content: center; 
	align-items: center;
}

/** Large Containers **/ 

.column_large {
	width: 630px;
	height: auto; 
	display: flex;
	flex-flow: column wrap; 
	margin-top: 30px;
}
.column_large p { 
	font-family: Verdana;
    font-size: 14px;
  	font-weight: bold;
	height: auto;
}

/** Medium Containers **/

.column_medium {
	width: 300px;
	height: auto; 
	margin-left: 20px; 
	margin-right: 20px; 
	margin-top: 30px;
	display: flex; 
	flex-flow: column nowrap; 
	/** background-color: yellowgreen; **/
}

/** Small Containers **/ 

.column_small {
	width: 240px; 
	height: auto; 
	margin-top: 30px;
	display: flex; 
	flex-flow: column wrap; 
	/** background-color: aqua; **/ 
}
